<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>West Campus Marker</title>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  

</html>